<!-- FILEPATH: /C:/Users/AJ/Desktop/node/recipes/views/partials/header.hbs -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
<style>
.card-image img {
    width: 100%;
    height: 200px; /* Adjust as needed */
    object-fit: cover;
}

.card {
    height: 100%; /* Makes all cards of equal height */
}
</style>
<header>
    <title>{{title}}</title>
    <nav>
        <ul>
            {{#each links}}
                <li><a href="{{url}}">{{label}}</a></li>
            {{/each}}
        </ul>
    </nav>
</header>
