<!-- FILEPATH: /C:/Users/AJ/Desktop/node/recipes/views/partials/header.hbs -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
<style>
.card-image img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.card {
    height: 100%; /* Makes all cards of equal height */
}
</style>
<header>
    <title>{{title}}</title>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/recipes/add">Add Recipe</a></li>
        </ul>
    </nav>
</header>
